.enemy{
  color:red;
  background-color: black;
  font-size:24px;
  border:1px solid red; 
  text-align:center;
}
#player{
  color:white;
  background-color:black; 
  font-size:24px;
  border: 1px solid white;
  text-align:center;
}
.playerMissiles{
  text-align:center;
  border: solid 1px green; 
  font-size:24px;
  color:green;
  background-color:black;
}
.number{
  color:green;
}
